body {
    background-image: linear-gradient(#DDDDDD, #000244);
}

body,
html {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

input {
    max-width: 250px;
}
.custombg {
    background-color: #EEEEEE;
}

.container {
    max-width: 750px;
}

.uploadbox {
    position: absolute;
    max-width: 300px;
    bottom: 0px;
    right: 5px;
    background-color: #DDDDDD;
}

.imagebox {
    max-height: 94vh;
    background-color: #DDDDDD;
}

.brandbox {
    position: absolute;
    top: 60px;
    left: 5px;
}
